@keyframes forButton {
  0% {
    transform: translateX(0) scale(1);
  }

  100% {
    transform: translateX(5px) scale(1.25);
  }
}
@keyframes changeHeaderScaleHover {
  0% {
    transform: rotateX(0) perspective(360deg);
  }

  50% {
    transform: rotateX(90deg) perspective(360deg);
  }

  100% {
    transform: rotateX(0) perspective(360deg);
  }
}
@keyframes rotateRegularCustomers {
  0%, 100% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(90deg);
  }
}

@keyframes focusModal {
  0%, 100% {
    transform: skewX(0);
  }

  50% {
    transform: skewX(30deg);
  }
}
