/* Основные стили для контейнера с элементами */
.overlay-header-1 {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  /* Стили для каждого элемента в контейнере */
  .overlay-header-item {
    align-items: center;
    position: relative;
    display: flex;
  }
  
  /* При наведении на элемент, отображать дочерний контейнер с элементами */
  .overlay-header-item:hover .overlay-header-elements {
    visibility: visible;
  }
  
  /* Стили для контейнера с элементами */
  .overlay-header-elements {
    padding: 5px;
    flex-direction: column;
    position: absolute;
    row-gap: 15px;
    top: 100%;
    right: -8px;
    margin: 0;
    display: flex;
    background-color: #ccc;
    visibility: hidden;
    z-index: 10;
  }
  
  /* Дополнительные стили для другого контейнера с элементами (если нужно) */
  .overlay-header-elements-2 {
    right: -50px;
  }
  
  /* Стили для ссылок в контейнере с элементами */
  .overlay-header-element-link {
    color: black;
  }
  
  .overlay-header-element-link:hover {
    color: #2196f3;
  }
  
  /* Стили для контейнера, который будет "выезжать" при наведении */
  .box-header {
    position: relative;
    overflow: hidden;
  }
  
  /* При наведении на контейнер, изменять положение дочернего контейнера */
  .box-header:hover .overlay-header {
    transform: translateX(0);
  }
  
  /* Стили для "выезжающего" контейнера */
  .overlay-header {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
    padding: 64px 23px;
    background: #188ce8;
    width: 370px;
    height: 294px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: translateY(100%);
    transition: transform 250ms ease;
  }
  